{{define "index"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.1.1/css/pico.min.css" integrity="sha384-L1dWfspMTHU/ApYnFiMz2QID/PlP1xCW9visvBdbEkOLkSSWsP6ZJWhPw6apiXxU" crossorigin="anonymous">
		<script src="https://unpkg.com/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
		<title>bulkbench</title>
		<script>
			htmx.on("htmx:sendError", function(evt) {
				alert("send error");
			});
		</script>
	</head>
	<body>
		<main class="container">
			<details>
				<summary>Runtime information</summary>
				<table role="grid">
					<tbody>
						<tr><td>GOMAXPROCS</td><td>{{gomaxprocs}}</td></tr>
						<tr><td>NumCPU</td><td>{{numcpu}}</td></tr>
						<tr><td>Driver Version</td><td>{{driverversion}}</td></tr>
						<tr><td>HANA Version</td><td>{{hdbversion}}</td></tr>
						<tr><td>goos/goarch</td><td>{{goos}}/{{goarch}}</td></tr>
					</tbody>
				</table>
			</details>
			<details>
				<summary>Benchmark parameter</summary>
				<table role="grid">
					<thead>
						<tr>
							<th>Flag</th>
							<th>Value</th>
							<th>Usage</th>
						</tr>
					</thead>
					<tbody>
						{{- range .Flags}}
						<tr>
							<td>{{.Name}}</td>
							<td>{{.Value}}</td>
							<td>{{.Usage}}</td>
						</tr>
						{{- end}}
					</tbody>
				</table>
			</details>
			<details open>
				<summary>Benchmarks</summary>
				<table>
					<thead>
						<tr>
							<th>BatchCount x BatchSize</th>
							<th>Sequential</th>
							<th>Concurrent</th>
						</tr>
					</thead>	
					</tbody>
						{{- range .TestDefs}}
						<tr>
							<td>{{.Descr}}</td>
							<td><a href="" hx-get={{.SequentialLink}} hx-target="#testresult" hx-indicator="#indicator">start</a></td>
							<td><a href="" hx-get={{.ConcurrentLink}} hx-target="#testresult" hx-indicator="#indicator">start</a></td>
						</tr>
						{{- end}}
					</tbody>
				</table>
				<table role="grid">
					<thead>
						<tr>
							<th>Sequential</th>
							<th>BatchCount</th>
							<th>BatchSize</th>
							<th>BulkSize</th>
							<th>Duration</th>
							<th>Error</th>
						</tr>
					</thead>
					<tbody id="testresult"></tbody>
				</table>
			</details>
			<details>
				<summary>Database commands</summary>
				<table>
					<tbody>
						<tr>
							<td>Table: {{.TableName}}</td>
							{{- range .TableCommands}}
							<td><a hx-get={{.Link}} hx-target="#dbresult" hx-indicator="#indicator">{{.Command}}</a></td>
							{{- end}}
						</tr>
						<tr>
							<td>Schema: {{.SchemaName}}</td>
							{{- range .SchemaCommands}}
							<td><a hx-get={{.Link}} hx-target="#dbresult" hx-indicator="#indicator">{{.Command}}</a></td>
							{{- end}}
						</tr>
					</tbody>
				</table>
				<table role="grid">
					<thead>
						<tr>
							<th>Command</th>
							<th>Rows</th>
							<th>Error</th>
						</tr>
					</thead>
					<tbody id="dbresult"></tbody>
				</table>
			</details>
			<div id="indicator" class="htmx-indicator">
				<progress></progress>
			</div>
			<blockquote>
				"Rule 2. Measure. Don't tune for speed until you've measured, 
				and even then don't unless one part of the code overwhelms the rest."
				<footer>
					<cite><a href="https://www.lysator.liu.se/c/pikestyle.html">Rob Pike — Notes on Programming in C</a></cite>
				</footer>
		  </blockquote>
		</main>
		<footer class="container">
			<small>
				<a href="https://github.com/SAP/go-hdb/tree/main/cmd/bulkbench">Source code</a> •
				Built with <a href="https://picocss.com">pico</a> •
				<a href="https://htmx.org/">htmx</a>
			</small>
		</footer>
	</body>
</html>
{{end}}

{{template "index" .}}
