name: build
on: [push]
jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.15', '1.14', '1.13' ]
    name: Go ${{ matrix.go }} build
    
    steps:
    
    - uses: actions/checkout@v2
    
    - name: Setup go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}
    
    - name: Get dependencies
      run: |
        go get -v -t -d ./...
        
    - name: Build
      run: |
        go build -v ./...

    - name: Vet
      run: |
        go vet ./...
        
    - name: Linter
      run: |
        go get -u golang.org/x/lint/golint
        golint ./...
